.container {
    display: grid;
    place-items: center;
    height: 100vh; 
    width: 100vw; 

}

.container-content, body {
    margin: auto;
    font-family: 'Courier New';

}

button {
    margin: auto;
    font-family: 'Courier New';
}